<% content_for(:title) { "Home | Nutrition Tracker" } %>
<div class ="space-y-12">
  <h2 class = "text-xl font-bold">Calories for <%= Date.today.strftime("%B %d, %Y") %>:</h2>
  <%= render partial: "food_search/search", locals: { foods: [] } %>
</div>