<% content_for(:title) { "Edit Profile | Nutrition Tracker" } %>
<h1 class="text-2xl font-bold content-center"> Edit Profile </h1>
<%= form_with model: @profile, url: edit_profile_url, class: "content" do |form| %>

<% end %>